{% extends "ds-2col.html.twig" %}
{% set attributes = attributes.addClass('is-desktop') %}
{%
  set left_classes = [
    'is-12-tablet',
    'is-8-desktop',
    'is-8-widescreen',
    'is-8-fullhd',
  ]
%}
{% set left_attributes = left_attributes.addClass(left_classes) %}